.git
**/.git
**/__pycache__
**/.pytest_cache
**/*.egg-info
**/*.pyc
**/*.so
**/*.a
**/build
dist
.tox
.venv
ci-results
rocksdb/_rocksdb.cpp
src/rocksdb/*.tar.gz
src/rocksdb/snappy-1.1.8
src/rocksdb/bzip2-1.0.8
src/rocksdb/lz4-1.9.3
src/rocksdb/zstd-1.4.9
src/rocksdb/zlib-1.2.12
